@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    line-height: 1;
    scroll-behavior: smooth;
    font-family: 'Nunito Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:root{
	--color-primary:rgb(0, 197, 181);
	--row-width:1000px;
	--white:#fff;
	--icon:rgb(0, 140, 255);
}
.row{
	max-width: 1000px;
	margin: auto;
}
.section-heading{
	width: var(--row-width);
	margin: auto;
	padding: 2rem 0;
	text-align: center;
}
.section-heading p{
	width: 60%;
	margin: auto;
	padding-top: 0.5rem;
}
p{
	font-size: 1.1rem;
}
/* header-start */
header{
	width: 100%;
	height: 4rem;
	background-color: #fff;
}
nav{
	width: var(--row-width);
	margin: auto;
	display: flex;
	align-items: center;
	height: 4rem;
	justify-content: space-between;
}
nav ul li{
	display: inline-block;
	margin-right: 1rem;
}
a{
	text-decoration: none;
}
ul,ol{
	list-style-type: none;
}
h1{
	font-size: 2rem;
	font-weight: bolder;
}
.logo h1{
font-size: 1.5rem;
font-weight: 1000;
text-transform: uppercase;
}
nav ul li a{
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	color: #000;
}
.header{
	width: 100%;
	height: 90vh;
	background: url(../image/1.jpg) no-repeat center/cover;
}
.header .home-contant-part{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
}
.home-contant-part p, a{
	padding-top: 1rem;
	color: var(--white);
}
.home-contant-part h1{
	font-size: 3rem;
	color: var(--white);
}
.home-contant-part h1 span{
	color: var(--color-primary);
}
.home-contant-part p{
	font-size: 1.2rem;
	margin-left: 0;
}
.home-contant-part a{
	margin-top: 1rem;
	margin-left: 0.5rem;
	display: inline-block;
	padding: 0.7rem 1.2rem;
	text-transform: uppercase;
	background-color: var(--color-primary);
}

/* header-end */
/* Part-two-start */
.part-two{
	padding: 2rem 0;
}
.two-items-one{
	text-align: center;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-column-gap: 1rem;
	width: var(--row-width);
	margin: auto;
	padding-bottom: 4rem;	
}
.two-items-one h3{
	font-size: 1.1rem;
	font-weight: bolder;
	padding: 0.5rem 0;
}
.two-items-one p{
	width: 100% !important;
}
.two-items-two p{
	width: 100% !important;
	margin-left: 0 !important;
}
.two-items-one i{
	margin: 0.5rem 0;
	font-size: 1.5rem;
	color: var(--icon);
}
.two-items-two{
	text-align: justify;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-column-gap: 1.5rem;
	width: var(--row-width);
	margin: auto;
}
.two-items-two img{
	width: 100%;
	height: auto;
}
.two-items-two .pra-grid{
	display: grid;
	grid-template-columns: 1fr 4fr;
}
.two-items-two h3{
	color: var(--icon);
	padding: 0.5rem 0;
	margin-left: -6rem !important;
}
.two-items-two h2{
	padding: 0.5rem 0;
}
.two-items-two .pra-grid span{
	width: 1.5rem;
	height: 0.2rem;
	margin-top: 40%;
	margin-left: 1rem;
	background-color: var(--color-primary);
}
.two-items-two p{
	font-size: 1.06rem;
	padding-top: 1rem;
}

.two-items-two a{
	display: inline-block;
	margin-top: 1rem;
	color: var(--white);
	padding: 0.5rem 1rem;
	border-radius: 4rem;
	text-transform: uppercase;
	background-color: #000;
	-webkit-border-radius: 4rem;
	-moz-border-radius: 4rem;
	-ms-border-radius: 4rem;
	-o-border-radius: 4rem;
}
.item-two{
	margin-left: 0 !important;
}
/* Part-two-end */
/* whois-start */
.whois{
	color: var(--white);
	background: url(../image/4.jpg) no-repeat center/cover;
	padding-bottom: 1rem;
}
.who-items{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-column-gap: 1.5rem;
	padding: 1rem 0;
}
.who-items .who-item img{
	width: 100%;
	height: auto;
}
.who-items .who-item{
	background-color: var(--white);
	color: #000;
}
.who-item p,h3{
	text-align: center;
}
.who-item h3{
	padding: 1rem 0 0.4rem 0.3rem;
}
.who-item p{
	text-align: justify;
	width: 100%;
	padding: 0 1rem 2rem 1rem;
}
/* whois-end */
/* part-three-items */
.part-three{
	background-color: #000;
	color: var(--white);
	padding: 4rem 0;
}
.part-three-items{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-column-gap: 2rem;
	grid-row-gap: 2rem;
}
.three-item{
	display: grid;
	grid-template-columns: 1fr 9fr;
	grid-column-gap: 1rem;
}
.three-item i{
	color: var(--color-primary);
	font-size: 1.5rem;
	margin-top: 0.6rem;
}
.three-item .paragraph{
	text-align: justify;
	font-size: 1.1rem;
	color: rgb(153, 153, 153);
}
.paragraph p{
	margin-left: 0 !important;
	width: 100%;
}
.paragraph h3{
	font-size: 1.1rem;
	padding: 0.3rem 0;
	color: var(--white);
	text-align: left;
}
/* part-three-items-end */
/* Service-start */
.service{
	background-color: rgba(245, 245, 245, 0.856);
	padding: 1rem 0;
}
.service-items{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-column-gap: 2rem;
	text-align: center;
	padding-bottom: 2rem;
}
.service-item {
	padding: 1.5rem 1rem;
	background-color: var(--white);
}
.service-item p{
	width: 100%;
	text-align: center;
}
.service-item img{
	width: 40px;
	height: 70px;
	padding-bottom: 1rem;
}
.service-item h4{
	font-size: 0.9rem;
	padding-bottom: 0.7rem;
}
/* Service-end */
/* visually-start */
.visuall{
	color: var(--white);
	background: url(../image/12.jpg) no-repeat center/cover;
	padding-bottom: 2rem;
	background-attachment: fixed;
}
.visuall-items{
	padding-top: 1rem;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-column-gap: 1.3rem;
	padding-bottom: 1rem;
	grid-row-gap: 1.5rem;
}
.visuall-item{
	display: grid;
	grid-template-columns: 1fr 9fr;
	grid-column-gap: 1.3rem;
	padding-bottom: 1rem;
}
.visuall-item i{
	padding-top: 1.3rem;
	font-size: 1.2rem;
}
/* visually-end */
/* portfolio-start */
.portfolio{
	padding-bottom: 2rem;
}
.portfolio-items{
	display: grid;
	grid-template-columns: repeat(4,1fr);
}
.portfolio-items .portfolio-item img{
	width: 100%;
	height: auto;
}
.portfolio-item{
	position: relative;
}
.portfolio-item .overlay{ position: absolute; top: 0; left: 0; bottom: 0; right: 0; align-items: center; text-align: center; background-color: rgba(21, 31, 37, 0.801); color: var(--white); display: none; visibility: hidden; transition: all 1s 0s ease; -webkit-transition: all 1s 0s ease; -moz-transition: all 1s 0s ease; -ms-transition: all 1s 0s ease; -o-transition: all 1s 0s ease;
}
.overlay h3{
	top: 50%;
	left: 50%;
	padding-bottom: 0.5rem;
	border-bottom: 2px solid var(--white);
	position: absolute;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
}
.portfolio-item:hover .overlay{
	display: block;
	visibility: visible;
}
/* portfolio-end */
/* part-four-start */
.part-four{
	padding: 2rem 0 0 0;
	background: url(../image/18.jpg) no-repeat center/cover;
}
.four-items{
	color: var(--white);
	display: grid;
	grid-template-columns: 5fr 4fr;
	grid-column-gap: 2rem;
}
.four-item img{
	width: 300px;
	height: auto;
	float: left;
}
.four-item h2{
	padding: 7rem 0 1rem 0;
	line-height: 1.3rem;
}
.four-item h2,p{
	width: 66%;
	margin: auto;
}
.four-item a{
	margin-left: 5.5rem;
	margin-top: 0.7rem;
	display: inline-block;
	color: #000;
	padding: 0.5rem 1rem;
	font-weight: bold;
	background-color: #fff;
	border-radius: 5rem;
	-webkit-border-radius: 5rem;
	-moz-border-radius: 5rem;
	-ms-border-radius: 5rem;
	-o-border-radius: 5rem;
}
/* part-four-end */
/* Team-start */
.team-items{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-column-gap: 1rem;
	padding-bottom: 2rem;
}
.team-item{
	text-align: center;
	padding-bottom: 1rem;
	border-bottom: 2px solid rgb(37, 68, 170);
}
.team-item h3{
	padding-top: 1rem;
	padding-bottom: 0.4rem;
	color: var(--color-primary);
}
.team-item img{
	width: 100%;
	height: auto;
}
/* Team-end */
/* part-five-items */
.part-five-items{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-column-gap: 1.5rem;
	grid-row-gap: 2rem;
	margin-bottom: -2rem;
}
.part-five{
	background: url(../image/34.jpg) no-repeat center/cover;
	padding: 5rem 0;
}
.part-five-item{
	color: var(--white);
	margin: 0;
	padding: 0;
	display: inline-block !important;
}
.icon-fiver i{
	margin-right: 0.5rem;
	font-size: 1.2rem;
	display: inline-block !important;
}
.icon-fiver h3{
	display: inline-block;
	margin-left: 0 !important;
	cursor: pointer;
}
.part-five-item:nth-child(1) .icon-fiver h3{
background-color: var(--color-primary);
padding: 0.4rem 1rem;
}
.part-five-item:nth-child(2) .icon-fiver h3{
	background-color: rgb(53, 53, 160);
	padding: 0.4rem 1rem;
}
.part-five-item:nth-child(3) .icon-fiver h3{
	background-color: var(--color-primary);
	padding: 0.4rem 1rem;
}
.part-five-item:nth-child(4) .icon-fiver h3{
	background-color: var(--color-primary);
	padding: 0.4rem 1rem;
}
.part-five-item:nth-child(5) .icon-fiver h3{
	background-color: var(--color-primary);
	padding: 0.4rem 1rem;
}
.part-five-item:nth-child(6) .icon-fiver h3{
background-color: rgb(53, 53, 160);
padding: 0.4rem 1rem;
}
.part-five-item p{
	margin-left: 0;
	width: 100%;
	padding: 0.5rem 0 1rem 0;
}
/* part-five-items */
/* package-start */
.package{
	padding: 2rem 0;
}
.package-items{
	padding-top: 1rem;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-column-gap: 1.5rem;
}
.packages-item{
	padding: 1.5rem;
	box-shadow: 0px 0px 5px 0px rgba(153, 153, 153, 0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(153, 153, 153, 0.75);
}
.package-items .packages-item ul li{
	padding: 0.5rem 0;
}
.package-items .packages-item ul li i{
	margin-right: 0.2rem;
	margin-left: 0.5rem;
	color: rgb(34, 34, 34);
}
.packages-item h2 {
	color: #000 !important;
}
.packages-item h2 , h5{
	padding: 0.5rem 0;
	text-align: center;
	color: var(--color-primary);
}
.packages-item h5{
	font-size: 2rem;
}
.packages-item span{
	padding: 0.3rem 0;
	margin-left: 30%;
	display: block;
	font-weight: bold;
	margin-bottom: 0.6rem;
	color: var(--color-primary);
}
.packages-item a{
	display: inline-block;
	margin-top: 0.6rem;
	margin-left: 1rem;
	padding: 0.6rem 1rem;
	font-size: 1rem;
	border: 1px solid var(--color-primary);
	color: var(--color-primary);
}
/* package-end */
.heading-one-of-package{
	padding: 2rem 0;
color: var(--white);
	background-color: rgb(10, 10, 10);
	display: flex;
	align-items: center;
}
.heading-one-of-package a{
	color: black;
	padding: 0.6rem 1rem;
	display: inline-block;
	margin-top: -3rem;
	border-radius: 4rem;
	background-color: var(--white);
	-webkit-border-radius: 4rem;
	-moz-border-radius: 4rem;
	-ms-border-radius: 4rem;
	-o-border-radius: 4rem;
}
.blog{
	background-color: rgb(234, 238, 241);
	padding-bottom: 3rem;
}
.blog-items{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-column-gap: 1.3rem;
}
.blog-item{
	background-color: var(--white);
	text-align: center;
	padding-bottom: 1rem;
}
.blog-item h3{
	padding: 1rem 0 0.4rem 0;
	font-size: 1.2rem;
}
.blog-item p{
	text-align: justify;
	padding-bottom: 0.7rem;
}
.blog-item img{
	width: 100%;
}
footer{
	padding: 1rem 0;
	background-color: black;
}
footer h5{
	color: white;
	font-weight: normal;
}